.*
\#*
*~
*-
!.gitignore
!.keep
out
work
download
!download/gapps-gb-20110930-237-signed.zip
!download/gapps-gb-20110930-237-signed.zip.sum
!download/update_2.6.35-BFS-WIP-AUFS_201110161155.zip
!download/update_2.6.35-BFS-WIP-AUFS_201110161155.zip.sum
tmp
*.log
*.prev
