extra_list="
http://tjy.sakura.ne.jp/pu/up/android/Google++2.0.0.apk
http://tjy.sakura.ne.jp/pu/up/android/Google_Maps_v5.11.0.apk
http://tjy.sakura.ne.jp/pu/up/android/com.adobe.reader.apk
http://tjy.sakura.ne.jp/pu/up/android/com.antivirus.apk
http://tjy.sakura.ne.jp/pu/up/android/com.bumptech.bumpga.apk
http://tjy.sakura.ne.jp/pu/up/android/com.calcbuddy.apk
http://tjy.sakura.ne.jp/pu/up/android/com.dropbox.android.apk
http://tjy.sakura.ne.jp/pu/up/android/com.evernote.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.apps.reader.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.apps.translate.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.apps.unveil.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.gm.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.street.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.android.youtube.apk
http://tjy.sakura.ne.jp/pu/up/android/com.google.zxing.client.android.apk
http://tjy.sakura.ne.jp/pu/up/android/com.jbapps.contactpro.apk
http://tjy.sakura.ne.jp/pu/up/android/com.keramidas.TitaniumBackup.apk
http://tjy.sakura.ne.jp/pu/up/android/com.minus.android.apk
http://tjy.sakura.ne.jp/pu/up/android/com.quoord.tapatalkpro.activity.apk
http://tjy.sakura.ne.jp/pu/up/android/com.xtralogic.android.logcollector.apk
http://tjy.sakura.ne.jp/pu/up/android/dev.sci.systune.apk
http://tjy.sakura.ne.jp/pu/up/android/ext.recovery.control.apk
http://tjy.sakura.ne.jp/pu/up/android/com.anddoes.fancywidgets.apk
http://tjy.sakura.ne.jp/pu/up/android/com.anddoes.fancywidgets.unlocker.apk
http://tjy.sakura.ne.jp/pu/up/android/jp.co.johospace.jorte.apk
http://tjy.sakura.ne.jp/pu/up/android/com.keramidas.TitaniumBackupPro.apk
http://tjy.sakura.ne.jp/pu/up/android/me.abitno.vplayer.t.apk
http://tjy.sakura.ne.jp/pu/up/android/me.abitno.vplayer.unlocker.apk
http://tjy.sakura.ne.jp/pu/up/android/com.maxmpz.audioplayer.apk
http://tjy.sakura.ne.jp/pu/up/android/com.maxmpz.audioplayer.unlock.apk
"
